<launch>

    <node name="pcl_colored_node" pkg="myproject1" type="pcl_colored_node" output="screen">

        <remap from="input_cloud" to="/sensor/laser/fx8/point_cloud"/>
        <remap from="camera_info" to="/sensor/camera/blackfly/camera_info"/>
        <!--remap from="input_image" to="/sensor/camera/blackfly/image_rect_color"/-->
        <remap from="input_image" to="/sensor/camera/blackfly/image_raw"/>

        <remap from="output_cloud" to="/sensor/laser/fx8/point_cloud_colored"/>
    </node>
</launch>