<launch>

<group ns="sensor">
<group ns="camera">
<group ns="blackfly">
       <!--node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" output="screen">
             <rosparam command="load" file="$(find pointgrey_camera_driver)/config/blackfly.yaml" />
       </node -->

       <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
             args="load image_proc/debayer camera_nodelet_manager">
       </node>

       <node pkg="nodelet" type="nodelet" name="image_proc_rectify_mono"
             args="load image_proc/rectify camera_nodelet_manager">
             <param name="queue_size" value="100" />
             <remap from="image_mono" to="image_mono" />
             <remap from="image_rect" to="image_rect_mono" />
       </node>

       <node pkg="nodelet" type="nodelet" name="image_proc_rectify_color"
             args="load image_proc/rectify camera_nodelet_manager">
             <param name="queue_size" value="100" />
             <remap from="image_mono" to="image_color" />
             <remap from="image_rect" to="image_rect_color" />
       </node>
</group>
</group>
</group>

</launch>
